/* Estilo principal */
body {
    font-family: 'Inter', monospace;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    display: block;
    min-height: auto;
}

body p, body p1 {
    font-family: 'Inter', monospace;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    display: block;
  	white-space: pre-line; /* Respeta los saltos de línea, pero los ajusta según el espacio */
    word-wrap: break-word; /* Rompe palabras largas si no caben en una línea */
  	overflow-wrap: break-word;
    hyphens: auto;
}

body p1 {
    min-height: 85vh;
}

/* Contenedor principal */
main {
    display: block;
    margin-left: 300px;
    margin-right: 200px;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos de header */
header {
    margin-top: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    white-space: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 250px;
    min-height: 100vh;
    background-color: #ffffff;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
}

header h1 {
    text-decoration: none;
    color: #354f40;
    margin: 10px 0;
    font-size: 1.3rem;
}

h2 {
    margin: 10px 0;
    color: #000000;
    font-size: 1.3rem;
    box-sizing: border-box;
}

/* Estilos de navegación */
nav {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav a {
    text-decoration: none;
    color: #000000;
    margin: 10px 0;
    font-size: 1rem;
}

nav a.active {
    font-weight: bold;
}

html, body {
    overflow-x: hidden;
}

/* Estilo de la galería */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    gap: 40px;
    padding: 0;
    margin-top: 80px;
    margin-left: 0;
    box-sizing: border-box;
}

.gallery img {
    width: 100%;
    max-width: none;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery img:last-child {
    margin-bottom: 100px;
}

.gallery .vertical {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
    margin: auto;
}

.custom-img {
    width: 60% !important;
    height: auto;
    display: block;
    margin-left: 400px;
    margin-top: 80px;
    margin-bottom: 100px;
    transition: transform 0.3s ease;
}

section h2 {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000000;
    font-size: 1.3rem;
    box-sizing: border-box;
}

section#contact {
    padding-top: 100px;
    padding-bottom: 0;
    margin-top: 50px;
}

/* Estilos para el botón del menú hamburguesa */
#menu-toggle {
    display: none; /* Oculto por defecto */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 20px; /* Mover a la esquina superior derecha */
    z-index: 1000;
}

/* Estilos para el menú en móviles */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    header {
        position: fixed;
        width: 100%;
        padding: 0px;
        background-color: #ffffff;
      	top: -30px;
        z-index: 999;
        min-height: 30px;
        justify-content: space-between;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
   header h1 {
        padding-left: 20px; /* Espacio a la izquierda */
     	color: #354f40!important;
    }

    #main-nav {
        display: none;
        flex-direction: column;
        background-color: #525150;
      	opacity: 0.94;
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #main-nav.open {
        display: flex;
    }

    nav a {
        margin: 10px 0;
        font-size: 1rem;
     	color: #ffffff;
    }
  
  	nav a.active {
    font-weight: bold;
    color: #000000; /* Nuevo color para enlaces activos */
}

    main {
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }
    p {
        white-space: normal !important;
        word-wrap: normal !important;
        overflow-wrap: normal !important;
        hyphens: none !important;
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 20px!important;
        padding: 0 !important;
      }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 10px;
        padding: 10px;
    }
  	
  	.custom-img {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        padding: 10px;
      	margin-left: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Ajustes específicos para tablets */
    main {
        margin-left: 170px; /* Reducir el margen izquierdo */
        margin-right: 90px; /* Reducir el margen derecho */
    }
  	header {
        position: fixed;
      	margin-top: -100px;
      	margin-left: -20px;
        width: 8%;
      	scale: 70%;
      	
  }
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Ajustar el tamaño de las imágenes */
    }
}
@media (min-width: 1024px) and (max-width: 1200px) {
    /* Ajustes específicos para pantallas pequeñas */
    main {
        margin-left: 250px; /* Ajustar el margen izquierdo */
        margin-right: 150px; /* Ajustar el margen derecho */
    }
}